html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family:raleway;
}
img {
    max-width: 100%;
    max-height: 100%;
}
a {
    text-decoration:none;
    color:#6495ed
}

i {
    color:#6495ed
}

hr {
    border:0;
    border-bottom:1px solid #ccc;
    margin: 10px -40px 30px;
}

h2 {
    background-color:#FEFFED;
    text-align:center;
    border-radius:10px 10px 0 0;
    margin:-10px -40px;
    padding:15px
}

.outer-wrapper {
    width:100%;
    height:100%;
    display:table;
    position: absolute;
}

.inner-wrapper {
    display:table-cell;
    vertical-align: middle;
}

.form {
    width:300px;
    margin: 0 auto;
}

.error-info{
    color:red;
}

#notFound {
    width:50%;
    margin: 0 auto;
}

#login {
    border-radius:10px;
    font-family:raleway;
    border:2px solid #ccc;
    padding:10px 40px;
}

#top{
    width:100px;
    margin-right:50px;
    float:right;
    position: relative;
}

#button{
    border-radius:10px;
    width:100px;
    height:40px;
    font-weight:bold;
    font-size:20px;
}

input[type=text],input[type=password] {
    width:99.5%;
    margin-top:8px;
    border:1px solid #ccc;
    padding: 10px 10px 10px 5px;
    font-size:16px;
    font-family:raleway
}

input[type=submit] {
    width:100%;
    background-color:#FFBC00;
    color:#fff;
    border:2px solid #FFCB00;
    padding:10px;
    font-size:20px;
    cursor:pointer;
    border-radius:5px;
}